[submodule "fluidd"]
	path = fluidd
	url = https://github.com/fluidd-core/fluidd
[submodule "moonraker"]
	path = moonraker
	url = https://github.com/Arksine/moonraker.git
[submodule "K1_Series_Klipper"]
	path = K1_Series_Klipper
	url = https://github.com/CrealityOfficial/K1_Series_Klipper.git
[submodule "K1_Series_Annex"]
	path = K1_Series_Annex
	url = https://github.com/CrealityOfficial/K1_Series_Annex.git
[submodule "K1_Max_Install_Helper"]
	path = K1_Max_Install_Helper
	url = https://github.com/Guilouz/Creality-K1-and-K1-Max.git
[submodule "KAMP"]
	path = KAMP
	url = https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging.git
